$white: #ffffff;
$size: 0.5rem;
$theme-colors: (
  "light": #ddebff,
  "dark": #040100,
  "primary": #6885e6,
  "secondary": #9c9aa1,
  "info": #8dd309,
  "success": #03c572,
  "warning": #ecd402,
  "danger": #ff200e,
);
